@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100%;
  width: 100%;
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
/* src/index.css */
:root {
  --color-bg: #ffffff;
  --color-text: #000000;
  --color-primary: #1da1f2;
}

[data-theme='dark'] {
  --color-bg: #121212;
  --color-text: #ffffff;
  --color-primary: #1da1f2;
}

[data-theme='light'] {
  --color-bg: #ffffff;
  --color-text: #000000;
  --color-primary: #1da1f2;
}
